<div class="row">
  <div class="col-8 offset-2 col-md-4 offset-md-4">
    <form
      (ngSubmit)="onSubmit(form)"
      #form="ngForm">
      <div class="input-group">
        <input
          type="text"
          name="phoneNumber"
          class="form-control"
          placeholder="Phone Number"
          ngModel
          required
          #phoneNumber="ngModel"
          (keyup)="formSubmitted = false">
        <div class="input-group-append">
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="!form.valid">Submit</button>
        </div>
      </div>
      <span class="error" *ngIf="!phoneNumber.valid && phoneNumber.touched">Please enter phone number</span>
    </form>
    <div *ngIf="formSubmitted">
      <hr>
      <div class="alert alert-success" *ngIf="operatorFound">
        Cheapest operator is {{ cheapestOperator.name }} at {{ cheapestOperator.cost | currency }} / minute.
      </div>
      <div class="alert alert-danger" *ngIf="!operatorFound">
        No operator found.
      </div>
    </div>
  </div>
</div>
